<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="5">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--设置日志格式及颜色-->
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{bright,green}  %highlight{%-5level} [%style{%t}{bright,blue}] %style{%C{}}{bright,yellow}: %msg%n%style{%throwable}{red}"
                    disableAnsi="false" noConsoleNoAnsi="false"/>
        </Console>
    </appenders>
    <!--Logger节点用来单独指定日志的形式，比如要为指定包下的class指定不同的日志级别等。-->
    <!--然后定义loggers，只有定义了logger并引入的appender，appender才会生效-->

    <loggers>
        <!--设置为OFF,即屏蔽; 留下sqltiming作为INFO级别输出-->
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
